{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "react-hooks", "jest"],
  "extends": [
    "airbnb",
    "plugin:import/typescript",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint-config-prettier/@typescript-eslint",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "./src/"]
      },
      "react": {
        "version": "detect"
      }
    }
  },
  "overrides": [
    {
      "parser": "babel-eslint",
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "no-empty-pattern": 0,
    "import/no-cycle": 0
  }
}
