.fermentation-chart .line-path {
  fill: none;
  stroke-width: 5;
}

.fermentation-chart .line-path--top {
  stroke: #e3ba22;
}

.fermentation-chart .line-path--bottom {
  stroke: #2a5be6;
}

.fermentation-chart .line-path--spontaneous {
  stroke: #e6842a;
}
