.alcohol-chart .bar {
  fill: steelblue;
  cursor: pointer;
}

.alcohol-chart .bar.average {
  fill: rgb(70, 180, 116);
}

.alcohol-chart [class^='bar-label'] rect {
  fill: steelblue;
  stroke: var(--color-white);
}

.alcohol-chart [class^='bar-label'] text {
  fill: var(--color-white);
}
