.alcohol-chart .bar {
  fill: steelblue;
  cursor: pointer;
}

.alcohol-chart [class^='bar-label'] rect {
  fill: steelblue;
}

.alcohol-chart [class^='bar-label'] text {
  fill: var(--color-white);
}
