.time-chart rect.total {
  fill: var(--color-white);
}

.time-chart rect.bottles {
  fill: #e3ba22;
  opacity: 0.25;
  transition: opacity var(--transition-default);
}

.time-chart rect.bottles:hover {
  opacity: 1;
}

.time-chart rect.cans {
  fill: #e6842a;
  opacity: 0.25;
}

.time-chart .line-path {
  fill: none;
  stroke-width: 5;
  stroke-linejoin: round;
}

.time-chart .line-path--total {
  stroke: var(--color-black);
}

.time-chart .line-path--bottles {
  stroke: #e3ba22;
}

.time-chart .line-path--cans {
  stroke: #e6842a;
}

.time-chart .legend .label {
  font-weight: var(--font-weight-light);
}
