.top-brands-chart .line-path:nth-child(1) {
  stroke: var(--chart-color-one);
}

.top-brands-chart .line-path:nth-child(2) {
  stroke: var(--chart-color-two);
}

.top-brands-chart .line-path:nth-child(3) {
  stroke: var(--chart-color-three);
}

.top-brands-chart .line-path:nth-child(4) {
  stroke: var(--chart-color-four);
}

.top-brands-chart .line-path:nth-child(5) {
  stroke: var(--chart-color-five);
}

.top-brands-chart .line-path:nth-child(6) {
  stroke: var(--chart-color-six);
}

.top-brands-chart .line-path:nth-child(7) {
  stroke: var(--chart-color-seven);
}

.top-brands-chart .line-path:nth-child(8) {
  stroke: var(--chart-color-eight);
}

.top-brands-chart .line-path:nth-child(9) {
  stroke: var(--chart-color-nine);
}

.top-brands-chart .line-path:nth-child(10) {
  stroke: var(--chart-color-ten);
}

@media (min-width: 700px) {
  .top-brands-wrapper {
    min-height: 370px;
  }
}

@media (min-width: 1000px) {
  .top-brands-wrapper {
    min-height: 600px;
  }
}
