.top-brands-chart .line-path {
  fill: none;
  stroke-width: 5;
}

.top-brands-chart .line-path:nth-child(1) {
  stroke: #f94144;
}

.top-brands-chart .line-path:nth-child(2) {
  stroke: #f3722c;
}

.top-brands-chart .line-path:nth-child(3) {
  stroke: #f8961e;
}

.top-brands-chart .line-path:nth-child(4) {
  stroke: #f9844a;
}

.top-brands-chart .line-path:nth-child(5) {
  stroke: #f9c74f;
}

.top-brands-chart .line-path:nth-child(6) {
  stroke: #90be6d;
}

.top-brands-chart .line-path:nth-child(7) {
  stroke: #43aa8b;
}

.top-brands-chart .line-path:nth-child(8) {
  stroke: #4d908e;
}

.top-brands-chart .line-path:nth-child(9) {
  stroke: #577590;
}

.top-brands-chart .line-path:nth-child(10) {
  stroke: #277da1;
}
